.container {
  background-color: rgb(247, 247, 247);
  border-top: 5px solid #0049e6;
  border-bottom: 5px solid #0049e6;
  padding: 30px 20px;
  margin-top: 50px;
}

.title {
  text-transform: capitalize;
  font-style: italic;
  /* color: #0d707f; */
  color: #0049e6;
  font-size: 25px;
  margin-bottom: 20px;
}

.unorderList {
  list-style: none;
}

.contain {
  display: grid;
  gap: 5px;
  margin-top: 15px;
}

li {
  /* color: orangered; */
  font-size: 20px;
  margin-bottom: 10px;
}

video {
  height: 145px;
  width: auto;
}
